$social-grid-body-scroll-box-height: calc(100vh - 210px);
$website-details-wrapper-scroll-box-height: calc(100vh - 220px);

.social-grid-page {
    position: relative;

    .icon {
        height: 16px;
        width: 16px;
    }

    .social-grid {

        border-bottom: 1px solid #e8ecee;
    
        .social-grid-row {
            display: flex;
            height: 36px;
            margin-bottom: -1px;
            margin-top: -1px;
            position: relative;
            align-items: center;
            margin-right: 1px;
            
            &.social-grid-header-row {
                margin-right: 6px;
            }
    
            &.selected .social-grid-cell{
                background-color: #edf8ff;
            }

            &:hover .social-grid-cell{
                background-color: #f6f8f9;
                cursor: pointer;
            }

            .social-grid-cell {
                height: 100%;
    
                padding: 0 10px;
                background-color: #fff;
                border: 1px solid #e8ecee;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                align-items: center;
                display: flex;
                height: 100%;
                overflow: hidden;
                justify-content: space-between;
                margin-right: -1px;
                z-index: 0;
    
                &.social-grid-name-cell {
                    flex: 1 1 auto;
                    padding: 0 0 0 20px;
                    border-left: none;
                }
                &.social-grid-progress-cell {
                    width: 90px;
                    justify-content: center;
                    border-right: none;
                }

                .website-icons-wrapper {
                    .website-icon {
                        margin-right: 5px;
                        img {
                            height: 18px;
                        }
                    }
                }
            }
        }
    
        .social-grid-stage-wrapper {
            .social-grid-stage-header {
                height: 50px;
                width: 100%;
                font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
                font-size: 16px;
                font-weight: 500;
                line-height: 21px;
                align-items: center;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                display: flex;
                flex: 1 1 auto;
                min-height: 30px;
                padding-right: 30px;
                position: relative;
                cursor: grab;
    
                .social-grid-stage-toggle-button {
                    padding: 0;
                    padding-right: 1px;
                    align-items: center;
                    align-self: stretch;
                    display: inline-flex;
                    flex-shrink: 0;
                    outline: none;
                    background: transparent;
                    border: 0;
                }
    
                .social-grid-stage-header-container {
                    flex-grow: 0;
                    min-width: 1px;
                    align-items: center;
                    display: flex;
                    height: 100%;
    
                    .social-grid-stage-title {
                        margin-bottom: 0;
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 21px;
                        flex-grow: 0;
                        margin-left: 10px;
                        margin-right: auto;
                        min-width: 1px;
                        outline: none;
                        overflow: hidden;
                        text-align: left;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        width: 100%;
                        cursor: pointer;
                    }
                }
            }
    
            .left-triangle-icon {
                display: none;
            }
    
            &.open {
                .left-triangle-icon {
                    display: inline;
                }
                .right-triangle-icon {
                    display: none;
                }
            }
        }

        .social-grid-body {
            overflow-x: hidden;
            .scroll-box {
                height: $social-grid-body-scroll-box-height;
            }
        }
    }
    
    #website-details-wrapper {
        background-color: #fff;
        border: 1px solid #e8ecee;
        border-top: 1px solid #e8ecee;
        position: absolute;
        width: 40%;
        left: 100%;
        top: 0;
        right: 0;
        transition: transform .2s ease-in;
        min-height: 100%;
        margin-left: 1px;

        .scroll-box {
            height: $website-details-wrapper-scroll-box-height;
        }

        .website-details-header {
            position: relative;
            padding-left: 20px;
            padding-right: 220px;
            border-bottom: 1px solid #e8ecee;
            box-shadow: 0 4px 2px -2px #fafafafa;

            .website-name-value-wrapper {
                display: flex;
                align-items: center;
                font-weight: 600;
                margin: 10px 0;
                min-height: 20px;
                font-size: 20px;

                .website-edit-link {
                    margin-left: 5px;
                    font-size: 17px;
                }
            }

            .website-tool-bar-buttons-wrapper {
                position: absolute;
                right: 15px;
                top: 0px;

                .header-tool-button {
                    cursor: pointer;
                    color: #6f7782;
                    font-size: 15px;

                    &:not(:last-child) {
                        margin-right: 10px;
                    }
                }
            }
        }

        .attribute-wrapper {
            padding: 0 25px 15px 25px;
            margin-top: 20px;

            .attribute-row {
                display: flex;
                align-items: baseline;

                .attribute-name {
                    line-height: 30px;
                    color: #9ca6af;
                    font-weight: normal;
                    width: 120px;
                    min-width: 120px;
                    margin-right: 5px;
                }

                .attribute-value {
                    line-height: 30px;
                    font-weight: 600;
                    cursor: text;
                    color: rgb(81, 81, 81);
                    border-bottom: none;
                    line-height: inherit;
                }

                .link-button {
                    margin-left: 5px;
                }

                .editable-container {
                    flex: 1 1 auto;
                    form.editableform {
                        width: 100%;
                        div.control-group {
                            width: 100%;
                            div.editable-input {
                                width: 100%;
                                textarea {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }

            .check-list-checkboxes {
                div.checkbox {
                    & > label {
                        display: flex;
                        align-items: center;

                        & > input {
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
    }
}

/**Scroll Bar Style Start**/
.scroll-bar-wrap {
    position: relative;
}
.scroll-box {
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}
.scroll-box::-webkit-scrollbar {
    width: 5px;
}
.scroll-box::-webkit-scrollbar,
.scroll-box::-webkit-scrollbar-thumb {
    overflow:visible;
    border-radius: 4px;
}
.scroll-box::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,.2);
}
.cover-bar {
    position: absolute;
    background: #fff;;
    height: 100%;
    top: 0;
    right: 0;
    width: 5px;
    -webkit-transition: all .5s;
    opacity: 1;
}
/* MAGIC HAPPENS HERE */
.scroll-bar-wrap:hover .cover-bar {
    opacity: 0;
    -webkit-transition: all .5s;
}
/**Scroll Bar Style End**/
