table.table tr:hover{
    background: rgb(254, 223, 223) !important;
}
#add-website-modal .form-group{
    margin-bottom: 8px !important;
}
#add-website-modal .modal-footer{
    display: block !important;
}
.manual-value-input{
    display: inline;
    width: 18%;
    height: 28px;
}
.dt-buttons.btn-group{
    /*display: block !important;*/
    /* margin-bottom: 20px !important; */
    margin-right: 15px !important;
}
.dataTables_length{
    display: inline-block !important;
}
.dataTables_filter{
    display: inline-block !important;
    float: right !important;
}
.select2-container{
    margin-right: 5px !important;
}
#blog-industry-filter, 
#affilliate-filter, 
#website-type-filter,
#sync-status-filter {
    display: inline;
    margin-bottom: 5px;
    width: 250px;
    margin-right: 10px;
}